$primary-color: #000;
$color-bg: #f5f4f5;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

$mobile-screen: "(max-width:800px)";

@mixin mobile {
  @media #{$mobile-screen} {
    @content;
  }
}

body {
  background-color: $color-bg;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
}
.main-screen-wrapper {
}
.carousel-root {
  .control-prev {
  }
  .control-next {
  }
  .control-dots {
    @include mobile {
      display: none;
    }
    .dot {
      box-shadow: none !important;
      background: #868686 !important;
      margin: 0 3px !important;
    }
    .selected {
      background: #232c3d !important;
    }
  }
}
.title-wrapper {
  display: flex;
  justify-content: center;
  .title {
    text-align: center;
    background-color: #232c3d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
  }
}

.fab {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  border-radius: 100%;
  border-width: 0;
  background-color: #232c3d;
  color: #fff;
}

.list-wrap {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  padding: 1vh 3vw;

  display: grid;
  grid-template-columns: repeat(auto-fill, 14vw);
  grid-gap: 1rem;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .nav-link {
    text-align: center;
    background-color: #232c3d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    &:nth-child(2) {
      margin-left: 10px;
    }
  }
}
